body{
    margin: 0%;
    background-color: #faf8f8;
}

header{
    position: relative;
    background-color: #088199;
    width: 100%;
    height: 9vw;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo_pagina{
    height: 7vw;
    position: absolute;
    left: 5%;
    top: 15%;
}
header p{
    font-family: sans-serif, bold;
    font-size: 1.2vw;
    position: absolute;
    left: 82%;
    top: 1%;
}
.redes_sociales{
    position: absolute;
    left: 84%;
    display: flex;
}
.socia{
    margin-left: 5%;
}
.social{
    height: 2.3vw;    
}
a {
    text-decoration: none;
    color: #000;
}
.opcs_pantallas{
    display: flex;
    align-items: center;
    background-color: #75A933;
    width: 75%;
    height: 5.5vw;
    align-content: center;
    position: absolute;
    left: 25%;
    top: 75%;
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
}
.opc_pantalla{
    color: #fff;
    margin-right: 6%;
    font-family: sans-serif;
    font-size: 1.3vw;
    position: relative;
    left: 6%;
    display: flex;
}
.opc_pantalla2{
    height: 2.6vw;
}
.contene_carrito{
    display: flex;
    gap: 10%;
    margin-top: 6%;
    justify-content: center;
}
.contenido_carrito{
    width: 47%;
    height: auto;
}
.producto_carrito{
    width: 100%;
    height: 17vw;
    background-color: #fff;
    margin-bottom: 3%;
    box-shadow: 1.5px 1.5px 5px #767676;
    border-radius: 0.5vw;
    position: relative;
}
.cabecera_pro1, .cabecera_pro2, .cabecera_pro3, .cabecera_pro4{
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 0.3vw;
    font-family: sans-serif;
    color: #3B3C3B;
    font-size: 1vw;
    box-shadow: 1px 1px 3px #767676;
}
.cabecera_pro1{
    background-color: #F99C46;
}
.cabecera_pro2{
    background-color: #3AB7A0;
}
.cabecera_pro3{
    background-color: #61B5C8;
}
.cabecera_pro4{
    background-color: #ACB4FF;
}
.la_x{
    position: relative;
    left: 63%;
}
.titu{
    margin-left: 5%;
    margin-right: 6%;
}
.contenido_producto{
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 2px #7676767e;
}
.contenido_producto img{
    height: 9vw;
    margin-left: 95%;
}
.contenido_producto b{
    position: relative;
    left: 15%;
    bottom: 20%;
    font-family: sans-serif;
    font-size: 0.8vw;
    width: 10vw;
    text-align: center;
    
}
.tienda{
    font-size: 0.9vw;
    color: #F91919;
    position: absolute;
    left: 29%;
    top: 53%;
}
.comprar{
    color: #10C6BB;
    position: absolute;
    left: 43%;
    top: 65%;
    font-size: 1vw;
}
#cantidad{
    position: absolute;
    left: 65%;
    width: 13%;
    height: 1.7vw;
    font-size: 0.7vw;
    border: 0.2vw solid #000;
    border-radius: 0.2vw;
}
.dispo{
    color: #3B3C3B;
    position: absolute;
    top: 55.5%;
    left: 63%;
    font-size: 0.1vw;
}
.porcentaje{
    position: absolute;
    top: 38%;
    left: 82%;
    color: #2AAD1E;
    font-family: sans-serif;
}
.precio_anterior{
    text-decoration: line-through;
    position: absolute;
    top: 38%;
    left: 87%;
}
.precio_actual{
    position: absolute;
    top: 44%;
    left: 80%;
}
.precio_actual b{
    font-family: sans-serif;
    font-size: 1.3vw;
}
.linea{
    width: 2%;
    position: relative;
    top: 7%;
    left: 46%;
}
.total_compra{
    background-color: #fff;
    width: 25%;
    height: 18.45vw;
    box-shadow: 1.5px 1.3px 5px #767676;
    border-radius: 0.2vw;
    position: sticky;
    display: block;
}
.total_compra h4{
    font-size: 0.95vw;
    margin-left: 3%;
    position: relative;
    font-family: sans-serif;
}


.conte_total{
    border-top: 0.15vw solid #76767630;
    border-bottom: 0.15vw solid #76767630;
    font-family: sans-serif;
    height: 9vw;
}
.cantidad_com{
    margin-left: 3%;
}
.precio_to{
    position: relative;
    left: 78%;
    bottom: 2vw;
    width: 22%;
}
.ubi{
    position: relative;
    bottom: 1vw;
    left: 3%;
    color: #4676F3;
}
.usu{
    position: relative;
    left: 3%;
}
.nom_usu{
    position: relative;
    left: 78%;
    bottom: 1.5vw;
    color: #4676F3;
    width: 24%;
}
.total{
    position: relative;
    left: 3%;
    font-family: sans-serif;
    font-size: 1vw;
}
.pre_total{
    position: relative;
    left: 77%;
    font-family: sans-serif;
    font-size: 1vw;
    bottom: 11.5%;
    width: 20%;
}
.proce_paga{
    width: 100%;
    height: 2.5vw;
    position: relative;
    bottom: 12%;
    background-color: #4676F3;
    border: none;
    color: #fff;
    font-size: 0.8vw;
    box-shadow: 1.5px 1.3px 5px #767676;
    border-radius: 0.1vw;
}
.pro_interesar{
    background-color: #EAE8E8;
    height: 20vw;
    position: relative;
    align-content: center;
    font-family: sans-serif;
}
.pro_interesar h5{
    background-color: #fff;
    width: 40%;
    height: 2.5vw;
    position: relative;
    bottom: 10%;
    text-align: center;
    align-content: center;
    font-size: 0.95vw;
    font-family: sans-serif;
    border-top-right-radius: 0.6vw;
    border-bottom-right-radius: 0.6vw;
}
.contenido_inte{
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.producto_intere{
    background-color: #fff;
    text-align: center;
    width: 11%;
    border-radius: 0.3vw;
    margin-bottom: 3%;
    margin-top: 1%;
    box-shadow: 1.5px 1.5px 5px #767676;
}
.img_prin{
    height: 7vw;
}
.conte_pro{
    border-top: 0.11vw solid #76767650;
}
.nom_pro{
    font-size: 0.6vw;
}
.precio_inte{
    font-size: 0.7vw;
    margin-left: 5%;
}
.con{
    display: flex;
}
.con select{
    border: none;
    margin-left: 30%;

}
.car{
    height: 1.1vw;
    position: relative;
    top: 0.5vw;
    left: 5%;
}
.co_inte{
    width: 100%;
    height: 1.8vw;
    background-color: #10C6BB;
    border: none;
    border-radius: 0.2vw;
    box-shadow: 1px 1px 3px #767676;
}


.pie_pagina{
    background-color: #011820;
    width: 100%;
    height: 45vh;
    color: white;
    flex-wrap: wrap;
    display: flex;
}

.conte_pie{
    position: relative;
    top: 8%;
    height: 38vh;
    font-family: sans-serif;
    flex: 1;
    border-right: 1px solid white ;
    text-align: center;
    
}

.log_pie{
    margin-right: 14px;
}

.t_pie{
    font-size: 23px;
}

.cont1_h{
    position: relative;
    right: 4.5vw;
}

.cont1_p{
    position: relative;
    right: 2vw;
}