body{
    background-image: url(productos-imgs/Fondo\ nubeseado\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

header{
    position: relative;
    background-color: #088199;
    width: 100%;
    height: 9vw;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo_pagina{
    height: 7vw;
    position: absolute;
    left: 5%;
    top: 15%;
}
header p{
    font-family: sans-serif, bold;
    font-size: 1.2vw;
    position: absolute;
    left: 82%;
    top: 1%;
}
.redes_sociales{
    position: absolute;
    left: 84%;
    display: flex;
}
.socia{
    margin-left: 5%;
}
.social{
    height: 2.3vw;    
}
a {
    text-decoration: none;
    color: #000;
}
.opcs_pantallas{
    display: flex;
    align-items: center;
    background-color: #75A933;
    width: 75%;
    height: 5.5vw;
    align-content: center;
    position: absolute;
    left: 25%;
    top: 75%;
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
}
.opc_pantalla{
    color: #fff;
    margin-right: 6%;
    font-family: sans-serif;
    font-size: 1.3vw;
    position: relative;
    left: 6%;
    display: flex;
}
.opc_pantalla2{
    height: 2.6vw;
}

.banner_img{
    width: 100%;
    margin-bottom: 2%;
    margin-top: 1%;
}
.compra{
    position: absolute;
    left: 95.6%;
    top: 450px;
    width: 85px;
    height: 85px;
    position: fixed;
    z-index:1000;
}
.carrito{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    background-size: cover;
    background-position: center;
    opacity: 40%;
    width: 85px;
    height: 85px;
    z-index:-1;
}
.carrito_compra{
    position: relative;
    left: 8.5%;
    top: 6%;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url(Index-imgs/img\ carrito_compra.png);
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    background-size: cover;
}
.com_elc{
    display: flex;
}
.titu_elc{
    font-size: 140%;
    font-family: sans-serif;
    padding-left: 2%;
}
.elec_img{
    width: 4.5%;
    height: 9.2vh;
}
.elec_imgp{
    position: relative;
    top: 6px;
    width: 3.6%;
    height: 7.5vh;
    margin-left: 1%;
}

.contenedor_pro{
    width: 100%;
    display: flex;
    justify-content: center;
}

.productos{
    max-width: 70%;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin-top: 2%;

}
.promo{
    position: absolute;
    left: 26%;
    top: 95%;
}
.promo1{
    position: absolute;
    top: 95%;
    left: 43%;
}
.promo2{
    position: absolute;
    top: 95%;
    left: 60%;
}
.promo3{
    position: absolute;
    top: 95%;
    left: 77%;
}
.promo5{
    position: absolute;
    top: 69vw;
    left: 26%;
    z-index: 1;
}
.promo6{
    position: absolute;
    top: 69vw;
    left: 43%;
    z-index: 1;
}
.promo7{
    position: absolute;
    top: 69vw;
    left: 60%;
    z-index: 1;
}
.promo8{
    position: absolute;
    top: 69vw;
    left: 77%;
    z-index: 1;
}
.promo9{
    position: absolute;
    top: 92vw;
    left: 26%;
    z-index: 1;
}
.promo10{
    position: absolute;
    top: 92vw;
    left: 43%;
    z-index: 1;
}
.promo11{
    position: absolute;
    top: 92vw;
    left: 60%;
    z-index: 1;
}
.promo12{
    position: absolute;
    top: 92vw;
    left: 77%;
    z-index: 1;
}
.producto{
    background-color: white;
    width: 270px;
    height: 385px;
    margin-bottom: 4%;
    margin-right: 4%;
    border-radius: 2%;
    box-shadow: 1.5px 1.5px 5px #767676;
    text-align: center;
}
.producto h5{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 13%;
    margin-left: 3%;
    margin-right: 3%;
}
.producto p{
    position: relative;
    top: -13px;
    font-size: 16px;
    text-align: left;
    margin-left: 10%;
}
.pro_img{
    height: 55%;
    border-bottom: 2px solid #00000022;
    width: 100%;
    text-align: center;
    position: relative;
    top: 6%;
}
#cantidad{
    font-size: 15px;
    height: 25px;
    position: relative;
    left: 30%;
    border: none;
    outline: none;
}
.conte_pro{
    display: flex;
}
.carrito_pro{
    width: 8%;
    height: 10%;
    position: relative;
    left: 35%;
}
.imgcar{
    width: 28px;
}
.tex_comp{
    background-color: #10C6BB;
    align-content: center;
    width: 100%;
    height: 10%;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 17px;
    position: relative;
    top: -10px;
    color: black;
    border: none;
}
.pro{
    background-color: #10C6BB;
    align-content: center;
    width: 100%;
    height: 10%;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 17px;
    position: relative;
    top: 6px;
    color: black;
    border: none;
}

.pro:hover{
    background: #03FFF0;
}
.tex_comp:hover{
    background: #03FFF0;
}
.pie_pagina{
    background-color: #011820;
    width: 100%;
    height: 65vh;
    color: white;
    flex-wrap: wrap;
    display: flex;
}

.conte_pie{
    position: relative;
    top: 8%;
    height: 26vw;
    font-family: sans-serif;
    flex: 1;
    border-right: 1px solid white ;
    text-align: center;
    
}

.log_pie{
    margin-right: 14px;
}

.t_pie{
    font-size: 23px;
}

.cont1_h{
    position: relative;
    right: 85px;
}

.cont1_p{
    position: relative;
    right: 35px;
}