body{
    margin: 0%;
}

header{
    position: relative;
    background-color: #088199;
    width: 100%;
    height: 9vw;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo_pagina{
    height: 7vw;
    position: absolute;
    left: 5%;
    top: 15%;
}
header p{
    font-family: sans-serif, bold;
    font-size: 1.2vw;
    position: absolute;
    left: 82%;
    top: 1%;
}
.redes_sociales{
    position: absolute;
    left: 84%;
    display: flex;
}
.socia{
    margin-left: 5%;
}
.social{
    height: 2.3vw;    
}
a {
    text-decoration: none;
    color: #000;
}
.opcs_pantallas{
    display: flex;
    align-items: center;
    background-color: #75A933;
    width: 75%;
    height: 5.5vw;
    align-content: center;
    position: absolute;
    left: 25%;
    top: 75%;
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
}
.opc_pantalla{
    color: #fff;
    margin-right: 6%;
    font-family: sans-serif;
    font-size: 1.3vw;
    position: relative;
    left: 6%;
    display: flex;
}
.opc_pantalla2{
    height: 2.6vw;
}
.contenedor_registrarse{
    margin-top: 1vw;
    width: 100%;
    height: 70vw;
    position: relative;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1vw;
}
.backgroud_registrarse{
    background-image: url(registrarse-imgs/fondo.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.contenedor1{
    width: 55%;
    height: 20vw;
    background-color: #0000006e;
    text-align: center;
    border: 0.3vw solid #fff;
    border-radius: 0.4vw;
}
.contenedor1 h1{
    color: #FF5E5E;
    font-size: 2.5vw;
    font-family: sans-serif;
    margin-bottom: 5%;
}
.contenedor1 label{
    display: block;
    color: #fff;
    text-align: justify;
}
.contenido1{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.contenido1 input{
    width: 17vw;
    height: 1.8vw;
    margin-bottom: 15%;
    border-radius: 0.2vw;
    border: none;
}
.contenedor2{
    margin-top: 4%;
    width: 55%;
    height: 25vw;
    background-color: #0000006e;
    text-align: center;
    border: 0.3vw solid #fff;
    border-radius: 0.4vw;
}
.contenedor2 h1{
    color: #FF5E5E;
    font-size: 2.5vw;
    font-family: sans-serif;
    margin-bottom: 5%;
}
.contenedor2 label{
    display: block;
    color: #fff;
    text-align: justify;
}
.fila1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
#nombre_mascota{
    width: 16vw;
    height: 1.7vw;
    border-radius: 0.2vw;
    border: none;
}
.nombre_mascota{
    position: relative;
    left: 45%;
}
#genero, #edad{
    width: 5vw;
    height: 1.7vw;
    border-radius: 0.2vw;
    border: none;
}
.genero{
    position: relative;
    left: 45%;
}
#raza{
    width: 6vw;
    height: 1.7vw;
    border-radius: 0.2vw;
    border: none;
}
.raza{
    position: relative;
    right: 40%;
}
.checkbox-container {
    display: inline-block;
    position: relative;
    width: 1.2vw;  
    height: 1.2vw; 
    background-color: #fff;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container .checkmark {
    display: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; 
    color: #000000; 
}

.checkbox-container input[type="checkbox"]:checked + .checkmark {
    display: block; 
}
.fila2{
    margin-top: 1%;
    color: #fff;
}
.fila2 label{
    position: relative;
    left: 13.5%;
}
.fila2 p{
    position: relative;
    bottom: 1.8vw;
    left: 10%;
    width: 43%;
}
.boton-container {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.boton-container input[type="radio"] {
    display: none; 
}

.boton-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px; 
    border: 0.3vw solid #fff; 
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.3s;
}

.boton-container img {
    height: 2.2vw;
}

input[type="radio"]:checked + label {
    background-color: #3355AB; 
    border-color: #fff; 
}
.contenedor2 button{
    margin-top: 5%;
    background-color: #07B0A6;
    border: none;
    width: 20%;
    height: 2.8vw;
    border-radius: 0.2vw;
    color: #fff;
    font-size: 1vw;
}
















.pie_pagina{
    background-color: #011820;
    width: 100%;
    height: 45vh;
    color: white;
    flex-wrap: wrap;
    display: flex;
}

.conte_pie{
    position: relative;
    top: 8%;
    height: 38vh;
    font-family: sans-serif;
    flex: 1;
    border-right: 1px solid white ;
    text-align: center;
    
}

.log_pie{
    margin-right: 14px;
}

.t_pie{
    font-size: 23px;
}

.cont1_h{
    position: relative;
    right: 4.5vw;
}

.cont1_p{
    position: relative;
    right: 2vw;
}